*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Resume-cards {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7vh 1fr 10vh;
    align-items: center;
    background-color: #0b4747;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60vh;
}

img {
    width: 100%;
    height: 100%;
}

.pseudo {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;

}

.paysFav {
    grid-column: 2/3;
    grid-row: 1/2;


}

.Resume-cards a {
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 1 / span 3;
    grid-row: 2/4;
    z-index: 10;
    text-align: center;
}

.resume {
    grid-column: 1/2;
    text-align: justify;
    width: 150%;
    padding: 20px;
}

.Resume-cards i {
    grid-column: 2/3;
    text-align: right;
    margin-right: 5vw;
}