.details_Article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.titre{
    text-align: center;
}
.details_Article_base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.details_Article_base > div{
    width: 45%;
    margin-top: 50px;
    height: 200px;
}

.details_Article_resume_img > img{
    max-width: 350px;
}

.details_Article_autres{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.details_Article_autres > img{
    width: 750px;
    height: 250px;
}
.details_Article_autres > textarea{
    width: 750px;
    height: 250px;
    resize: none;
    padding: 5px;
}

.commentaires{
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 60%;
    padding: 15px;
}
.commentaires > * {
    margin-bottom: 100px;
}