body{
    background-color: #D6D6D6;
}

.filActu > .filActu-cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 75px;
    z-index: -5;
   
}
.filActu > .filActu-cards > a{
    width: 60%;
    text-decoration: none;
    color: #D6D6D6;
}

.filActu > .filActu-cards > a > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    /* width: 100%; */
    background-color: green;
}

.filActu > .filActu-cards > a > div > ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
}

.filActu > .filActu-cards > a > div > ul > li{
    list-style: none;
    display: flex;
    font-size: 20px;
}

.filActu > .filActu-cards > a > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }