@import url('./variable.css');

body{
    background-color: var(#d6d6d6);
}

form > *{
    margin: 5px;
    padding: 3px;
    font-family: var(--mainFont);
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    text-align: center;
    min-width: 500px;
}